/* link to google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: montserrat, sans-serif;
    text-align: center;
    background-color: #d3d3d3;
    padding: 5px;

} 

/* Headings */
 
h1{
    text-shadow : 0px 5px 20px #e0115f;
    color: white;
    font-size: 2.5rem;
    padding-top: 20px;
}

h2{
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}